<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <style>
    /* Add any necessary CSS styles here */
    .login-container {
      text-align: center;
    }
    .login-container img {
      width: 200px; /* Adjust the width as needed */
      height: auto;
    }
  </style>
</head>
<body>
  <div class="login-container">
    
    <h2>Login</h2>
    <form [formGroup]="loginform" (ngSubmit)="login()">
      <div class="input-group">
        <label for="username">Username:</label>
        <input formControlName="username" type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html> -->

<!-- <div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">DIGI BANK</h1>
          <p class="col-lg-10 fs-4">Taking Banking Technology to Common Man, Your Tech-friendly bank, Your Own Bank</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" (ngSubmit)="login()">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username" [(ngModel)]="loginform.value.username">
                  <label for="username">Username</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" [(ngModel)]="loginform.value.password">
                  <label for="password">Password</label>
              </div>
             
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              <hr class="my-4">
              <small class="text-body-secondary">By clicking Sign in, you agree to the terms of use.</small>
          </form>
      </div>
  </div>
</div>
 -->

 <div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">DIGI BANK</h1>
      <p class="col-lg-10 fs-4">Taking Banking Technology to Common Man, Your Tech-friendly bank, Your Own Bank</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form [formGroup]="loginform" (ngSubmit)="login()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input formControlName="username" type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input formControlName="password" type="password" id="password" name="password" class="form-control" required>
        </div>
        <div *ngIf="invalidCredentials" class="text-danger mb-3">
          Correct your username/password
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Sign in, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
