
<div class="d-flex flex-row">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Navigation</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/account-summary" routerLinkActive="active" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Account Summary
        </a>
      </li>

      <li>
        <a routerLink="/transfer" routerLinkActive="active" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Transfer Money
        </a>
      </li>
    </ul>
    <hr>
  </div>



<div class="flex-grow-1 p-3">
  <div class="d-flex flex-row align-items-center">
    <h2 class="flex-grow-1">Account Summary</h2>
    
    <div class="ms-auto">
      <a routerLink="/login" class="btn btn-primary" role="button">Back to Login</a>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Account Type</th>
          <th>Available Balance( In INR )</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td><a [routerLink]="['/account-detail', account.accountNumber]">{{ account.accountNumber }}</a></td>
          <td>{{ account.accountType }}</td>
          <td>{{ account.availableBalance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>